
<head>
    <link rel="stylesheet" href="styles/footer.css">
</head>

<footer>
    <div class="row-1" >
        <div class="d-flex w-50" >
            <img src="images/logo-dark-bg.png" class="ml-3 mt-0 img-fluid logo mx-auto" alt="">
        </div>
        <div class="d-flex">
                    <div class="social-media-links">
                    {{!-- <i class="fab fa-linkedin"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook"></i> --}}
                    <a href="https://www.linkedin.com/company/bakertillyhn/?originalSubdomain=hn" >
                            <img src="/images/linkedin-white.png" alt="">
                    </a>
                    <a href="https://business.facebook.com/bakertillyhn/?ref=py_c">
                            <img src="/images/facebook-white.png" alt="">
                    </a>
                    <a  href="https://www.instagram.com/bakertillyinternational/?hl=en" >
                            <img src="/images/instagram-white.png" alt="">
                    </a>
                </div> 
        </div>
    </div>
     <div class="row-2">
         <div class="d-flex registros-header">
             <h4>Nuestros Registros</h4>
         </div>
         <div class="d-flex images-footer">
             <img src="/images/company-logo-1.png"  class="img-fluid" alt="">
             <img src="/images/transparent-logo-2.png" class="img-fluid"  alt="">
              <img src="/images/company-logo-3.webp"class="img-fluid"   alt="">
              <img src="/images/company-logo-4.png" class="img-fluid"  alt="">
              <img src="/images/btilly-footer-logo.png" class="img-fluid"  alt="">
              <img src="/images/ifac-logo.png" class="img-fluid"  alt="">
         </div>
    </div>
     <div class="row-3">
        <div class="address"> 
           <ul>
               <li>
                    Col. Humuya 
               </li> 
               <li>
                   2ª Calle Sendero Ámbito 
               </li>
                <li>
                    Edificio OMCAL
                </li>
                <li>
                    Tegucigalpa No 2129
                </li>
                
                Honduras
            </ul>
        </div>
        <div class="slogan-container" >
            <img src="images/nft.png" class="img-fluid" alt="">
        </div>
    </div>
    <div class="copyright bg-white text-center">
            ©2021 Bakertilly Honduras
    </div>
</footer>
