
<head>
    <link rel="stylesheet" href="styles/footer.css">
</head>

<footer>
    <div class="row-1" >
        <div class="d-flex w-50">
            <img src="images/logo-dark-bg.png" class="ml-3 img-fluid logo mx-auto" alt="">
        </div>
        <div class="d-flex">
                    <div class="social-media-links">
                    {{!-- <i class="fab fa-linkedin"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook"></i> --}}
                    <a href="https://www.linkedin.com/company/bakertillyhn/?originalSubdomain=hn" >
                            <img src="https://static.wixstatic.com/media/aa0402eb9ba2430d9d0620b59556efca.png/v1/fill/w_54,h_54,al_c,q_85,usm_0.66_1.00_0.01/aa0402eb9ba2430d9d0620b59556efca.webp" alt="">
                    </a>
                    <a href="https://business.facebook.com/bakertillyhn/?ref=py_c">
                        <img src="https://static.wixstatic.com/media/0fdef751204647a3bbd7eaa2827ed4f9.png/v1/fill/w_54,h_54,al_c,q_85,usm_0.66_1.00_0.01/0fdef751204647a3bbd7eaa2827ed4f9.webp" alt="">
                    </a>
                    <a  href="https://www.instagram.com/bakertillyinternational/?hl=en" >
                         <img src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png/v1/fill/w_54,h_54,al_c,q_85,usm_0.66_1.00_0.01/01c3aff52f2a4dffa526d7a9843d46ea.webp" alt="">
                    </a>
                </div> 
        </div>
    </div>
     <div class="row-2">
        <ul class="text-white">
            <li><a href="#">Asociación de Firmas de Auditoría de Honduras</a></li>
            <li><a href="#">Comisión Nacional de Bancas y Seguros</a></li>
            <li><a href="#">Colegio Hondureño de Profesionales Universitarios en Contaduría</a></li>
            <li><a href="#">Pública (COHPUCP)</a></li>
        </ul>
    </div>
     <div class="row-3">
        <div class="address"> 
           <ul>
               <li>
                    Col. Humuya 
               </li> 
               <li>
                   2ª Calle Sendero Ámbito 
               </li>
                <li>
                    Edificio OMCAL
                </li>
                <li>
                    Tegucigalpa No 2129
                </li>
                
                Honduras
            </ul>
        </div>
        <div class="slogan-container" >
            <img src="images/nft.png" class="img-fluid" alt="">
        </div>
    </div>

    <div class="copyright bg-white text-center">
            ©2021 Bakertilly Honduras
    </div>
</footer>
