 
 <head>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cantarell:ital@1&family=Noto+Sans:wght@700&family=PT+Sans+Narrow&family=Roboto:wght@100;900&family=Shippori+Antique+B1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
    <link rel="stylesheet" href="styles/landing-page-nav.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
 </head>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="navbar">
                <a href="/" class="navbar-brand scroll-link">
                    <img  width="190" height="47" src="images/logo.svg" alt="">
                </a>
                <button class="navbar-toggler btn" data-target="#list" data-toggle="collapse">
                    <span class="navbar-toggler-icon" ></span>
                </button>
                <div class="collapse navbar-collapse" id="list">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="/" class="nav-link scroll-link">
                            Beneficios
                        </a></li>
                        <li class="nav-item "><a href="/carreras" class="nav-link scroll-link">
                            Pasos
                        </a></li>
                        <li class="nav-item "><a href="/contactanos" class="nav-link scroll-link">
                            Equipo
                        </a></li>
                    </ul>
                </div>
            <div class="social-media-links">
                    <a href="https://www.linkedin.com/company/bakertillyhn/?originalSubdomain=hn" >
                            <img src="https://static.wixstatic.com/media/aa0402eb9ba2430d9d0620b59556efca.png/v1/fill/w_54,h_54,al_c,q_85,usm_0.66_1.00_0.01/aa0402eb9ba2430d9d0620b59556efca.webp" alt="">
                    </a>
                    <a href="https://business.facebook.com/bakertillyhn/?ref=py_c">
                        <img src="https://static.wixstatic.com/media/0fdef751204647a3bbd7eaa2827ed4f9.png/v1/fill/w_54,h_54,al_c,q_85,usm_0.66_1.00_0.01/0fdef751204647a3bbd7eaa2827ed4f9.webp" alt="">
                    </a>
                    <a  href="https://www.instagram.com/bakertillyinternational/?hl=en" >
                         <img src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png/v1/fill/w_54,h_54,al_c,q_85,usm_0.66_1.00_0.01/01c3aff52f2a4dffa526d7a9843d46ea.webp" alt="">
                    </a>
                </div>  
            </nav>