 
 <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

 </head>

  <nav class="navbar navbar-expand-lg fixed-top navbar-light" id="navbar">
                <a href="#feature" class="navbar-brand scroll-link">
                    <img  width="240.84" height="57" src="images/logo.svg" alt="">
                </a>
                <button class="navbar-toggler btn" data-target="#list" data-toggle="collapse">
                    <span class="navbar-toggler-icon" ></span>
                </button>
                <div class="collapse navbar-collapse" id="list">
                    <ul class="navbar-nav nav nav-pills">
                        <li class="nav-item"><a href="#feature" class="nav-link scroll-link">
                            Inicio
                        </a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Servicios
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/auditoria">Auditoría</a>
                                <a class="dropdown-item" href="/tributarios">Tributarios</a>
                                <a class="dropdown-item" href="/contabilidad">Contabilidad</a>
                                <a class="dropdown-item" href="/consultoria">Consultoría</a>
                                <a class="dropdown-item" href="/asesoria">Asesoría Legal</a>
                                </div>
                             </li>
                         <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Servicios
                                </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/btilly-h">Baker Tilly Honduras</a>
                                <a class="dropdown-item" href="/btilly-i">Baker Tilly Internacional</a>
                            </div>
                        </li>
                       
                        <li class="nav-item "><a href="#additional-info" class="nav-link scroll-link">
                            Carreras
                        </a></li>
                        <li class="nav-item "><a href="#additional-info" class="nav-link scroll-link">
                            Contáctanos
                        </a></li>
                    </ul>
                </div>
                <div class="social-media-links">
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook"></i>
                </div>
            </nav>