<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cantarell:ital@1&family=Noto+Sans:wght@700&family=PT+Sans+Narrow&family=Roboto:wght@100;900&family=Shippori+Antique+B1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=PT+Sans+Narrow&family=Roboto:wght@100&family=Shippori+Antique+B1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/asesoria.css">
     <title>Consultoría</title>
</head>
<body>
    {{>nav}}
    <section id="header">
        <h2 class="text-center text-white display-4">
        </h2>
    </section>
    <section id="main">
        <div id="first-section">
                <p>
                    La Consultoría de servicios especializados, complementa de gran manera los servicios que la firma ya entrega al mercado nacional. Estos servicios promueven la interrelación entre consultores nacionales y extranjeros que brindan su expertos y amplios conocimientos en el desarrollo de sus actividades de consultoría. Estos servicios incluyen diferentes alcances con soluciones que se acomodan a las necesidades de los clientes.
                </p>
                <h1 class="display-4">
                    Precios de Transferencia
                </h1>
                <p>
                    Los precios de transferencia surgen para controlar las transacciones entre las partes relacionadas de un grupo económico. Se definen como el precio o el monto por el cual una serie de empresas relacionadas pactan transar un bien o un servicio entre ellas.
                </p>
                <h5>
                    <b>Declaración y Regulación para el 2014</b>
                </h5>
                <p>
                    La Declaración y Regulación para el 2014 tiene como finalidad regular las operaciones comerciales y financieras que se realicen entre empresas relacionadas o vinculadas, valoradas de acuerdo con el principio de libre o plena competencia facilitando a la Administración Tributaria (SAR) el control y fiscalización de dichas transacciones reduciendo los costos de cumplimiento tanto para el Fisco como para el contribuyente.
                </p>
                <p>
                    Dentro de nuestras competencias como firma auditora, medir el impacto fiscal que estas transacciones pueden tener dentro del engranaje financiero de una compañía es muy importante, nos permite determinar la viabilidad de mantener estructuras entre relacionadas o mantener relaciones independientes.
                </p>
                <p>
                    Es importante para nosotros poder darle a nuestros clientes un estudio que les arroje conclusiones importantes, que los llevaran a tomar mejores decisiones que conllevaran a una mejor administración de sus empresas.
                </p>
        </div>
        <div id="second-section">
          <h1 class="display-4">
             <b> Equipo Legal</b>
          </h1>
          <p>
              Contamos con un equipo de abogados y consultores en distintas áreas de Derecho, que de manera uniforme puedan brindar un servicio altamente competitivo a través de la integración entre profesionales con un alto grado de experiencia y juventud, y contando a los más altos estandartes de preparación académica a nivel mundial, lo cual ha logrado plasmar en nuestros clientes un alto grado de satisfacción con el servicio brindado.
          </p>
          <div class="lower-part-div mt-auto">
          </div>
        </div>
    </section>
    {{>footer}}
<script>
            const text = 'Asesoría Legal Corporativa';
            function typeHeader(){
                for(let i = 0; i < text.length;i++){
                    let header = document.querySelector('#header h2')
                    setTimeout(()=>{
                        header.innerHTML+=text.charAt(i);
                        if(i === text.length-1){
                            header.innerHTML+='<span style="color:#d5ea69;">.</span>'
                        }
                    },i * 50)
                }
            }
        typeHeader()
</script>
 <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</body>