<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cantarell:ital@1&family=PT+Sans+Narrow&family=Roboto:wght@100;900&family=Shippori+Antique+B1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/carreras.css">
    <title>Carreras</title>
</head>
<body>
    {{>nav}}
    <section id="main">
        <div id="form-container">
            <h1>¡Trabaja con Nosotros!</h1>
            <form>
                <div class="d-flex" style="justify-content:space-evenly;">
                    <div class="form-group w-50">
                        <input type="text" class="form-control p-4" id="primerNombre" placeholder="Primer Nombre">
                    </div>
                       <div class="form-group w-50 ml-2">
                        <input type="text" class="form-control p-4" id="apellido"  placeholder="Apellido">
                    </div>
                </div>
                      <div class="d-flex" style="justify-content:space-evenly;">
                    <div class="form-group w-50">
                        <input type="text" class="form-control p-4" id="primerNombre" placeholder="Primer Nombre">
                    </div>
                       <div class="form-group w-50 ml-2">
                        <input type="text" class="form-control p-4" id="apellido"  placeholder="Apellido">
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control p-4" id="dirección" aria-describedby="emailHelp" placeholder="Dirección">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="mensaje" aria-describedby="emailHelp" placeholder="Escribe tu mensaje">
                </div>
                <div class="d-flex w-100">
                    <button type="submit" class="btn btn-primary mx-auto px-5">Submit</button>
                </div>
            </form>
        </div>
        <div id="plazas-disponibles">
            <h2>Plazas Disponibles</h2>
            <p class="mt-3">
            </p>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    {{>footer}}
</body>
</html>