<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cantarell:ital@1&family=Noto+Sans:wght@700&family=PT+Sans+Narrow&family=Roboto:wght@100;900&family=Shippori+Antique+B1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    {{!-- <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cantarell:ital@1&family=PT+Sans+Narrow&family=Roboto:wght@100;900&family=Shippori+Antique+B1&display=swap" rel="stylesheet"> --}}
    <link rel="stylesheet" href="styles/consultoria.css">
    <title>Servicios de Consultoría</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E5J5RT8ESN"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E5J5RT8ESN');
    </script>
</head>
<body>
    {{>nav}}
    <section id="header">
        <h2 class="text-center text-white">
        </h2>
    </section>
    <section id="main">
        <div id="first-section">
            <p>
                <b>
                    La Consultoría de servicios especializados, complementa de gran manera los servicios que la
                    firma ya entrega al mercado nacional. Estos servicios promueven la interrelación entre
                    consultores nacionales y extranjeros que brindan su expertos y amplios conocimientos en el
                    desarrollo de sus actividades de consultoría. Estos servicios incluyen diferentes alcances con
                    soluciones que se acomodan a las necesidades de los clientes.

                </b>
            </p>
            <h5>
                Precios de Transferencia
            </h5>
            <p>
                Los precios de transferencia surgen para controlar las transacciones entre las partes
                relacionadas de un grupo económico. Se definen como el precio o el monto por el cual una
                serie de empresas relacionadas pactan transar un bien o un servicio entre ellas.
            </p>


            <p><b> Declaración y Regulación para el 2014.</b></p>
            <p>
                La Declaración y Regulación para el 2014 tiene como finalidad regular las operaciones
                comerciales y financieras que se realicen entre empresas relacionadas o vinculadas, valoradas
                de acuerdo con el principio de libre o plena competencia facilitando a la Administración
                Tributaria (SAR) el control y fiscalización de dichas transacciones reduciendo los costos de
                cumplimiento tanto para el Fisco como para el contribuyente.
                Dentro de nuestras competencias como firma auditora, medir el impacto fiscal que estas
                transacciones pueden tener dentro del engranaje financiero de una compañía es muy
                importante, nos permite determinar la viabilidad de mantener estructuras entre relacionadas o
                mantener relaciones independientes.
            </p>
            <p>
                Dentro de nuestras competencias como firma auditora, medir el impacto fiscal que estas transacciones pueden tener dentro del engranaje financiero de una compañía es muy importante, nos permite determinar la viabilidad de mantener estructuras entre relacionadas o mantener relaciones independientes.
            </p>

            <p>
                Es importante para nosotros poder darle a nuestros clientes un estudio que les arroje conclusiones importantes, que los llevaran a tomar mejores decisiones que conllevaran a una mejor administración de sus empresas.
            </p>


        </div>
        <div id="second-section">
            <div class="cards-container">
             <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/equipo/omar.jpg" >
                    </div>
                    <div class="flip-card-back">
                        <h1>Omar Zúniga</h1>
                        <p>Directo de Impuestos</p>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="images/equipo/alberto-2.jpg" >
                    </div>
                    <div class="flip-card-back">
                        <h1>Alberto Zúniga</h1>
                        <p>Socio del Departamento Legal</p>
                    </div>
                </div>
            </div>
        </div>
          <div>
            <h4  class="conoce-equipo">Conoce al equipo</h4>
        </div>
        </div>
        </div>
    </section>
    <section id="diagram">
        <h1>
            ¿Ocupo Un Estudio <br>de Precios
            De Transferencia?
        </h1>
        <img class="img-fluid" src=" https://static.wixstatic.com/media/595370_faa967d35ac546dea7f81415bc714327~mv2.png/v1/fill/w_1328,h_752,al_c,q_90/Bakertilly%20map1-02.webp" alt="">
    </section>
    <section id="pilares">
        <div class="pilares-header">
            <h5>Gestion de Riesgos y Control Interno</h5>
        </div>
        <div class="pilares-description">
            <p>La Gestión de Riesgos y Control Interno permite administar todas aquellas situaciones que puedan tener efectos sobre los objetivos del negocio, antes de que estos sucedan. Nuestro modelo busca tener una gestión oportuna para determinar en que medida y que forma se pueden eficientar los procesos de negocio, de tal manera que los mismos coadyuven de una manera eficiente, eficaz y económica.</p>
        </div>
        <div class="pilares-image-container">
            <img src="images/pilares.png" alt="">
        </div>
    </section>
    <section id="third-section">
        <h5>

            Servicios De Conversión a NIIF
        </h5>
        <p>
            Las Normas Internacionales de Información Financiera (IFRS por sus siglas en inglés) son el conjunto de estándares internacionales de contabilidad promulgadas por el International Accounting Standards Board (IASB), que establece los requisitos de reconocimiento, medición, presentación e información a revelar sobre las transacciones y hechos económicos que afectan a una empresa y que se reflejan en los estados financieros. La adopción de las NIIF/IFRS ofrece una oportunidad para mejorar la función financiera a través de una mayor consistencia en las políticas contables, obteniendo beneficios potenciales de mayor transparencia, incremento en la comparabilidad y mejora en la eficiencia.
        </p>
        <p>
            Como responsables de proporcionar servicios de alta calidad, dinámicos y responsables con la legislación, Irías y Asociados ha trasladado un especial interés en proporcionar un servicio especializado en la conversión de los controles, políticas y prácticas financieras fundamentadas en las Normas Internacionales de Información Financiera (NIIF). Nuestra responsabilidad no solo es emitir un informe, es proporcionar a nuestros clientes con la asesoría adecuada y brindarles la seguridad que están al día con la legislación y a la vanguardia con las normativas que se establecen a nivel mundial.
        </p>
        {{!-- <h1>
            Impuestos
        </h1>
        <p>
            Contamos con amplia experiencia en el área procesal del derecho tributario en Honduras. A lo largo de nuestros años de experiencia profesional hemos afrontado procesos administrativos y judiciales en el área fiscal, obteniendo un grado de efectividad sumamente positivo en favor de nuestros clientes.

Nuestros socios y asociados están en capacidad de atender de manera integral los distintos procesos que en el área administrativa y Fiscal existen en Honduras, entre ellos manejamos los siguientes procesos:
        </p>
        <ul>
            <li>
                Consultas formales a la autoridad tributaria.
            </li>
            <li>
                Procesos administrativos no contenciosos ante la autoridad tributaria.
            </li>
            <li>
                Acompañamiento técnico tanto en el área legal, como financiera en procesos de revisión administrativa.
            </li>
            <li>
                Contestación de requerimientos fiscales por parte de la autoridad tributaria.

            </li>
            <li>
                Formalización y seguimiento de Recursos de Reposición Tributarios.
            </li>

            <li>
                Formalización y seguimiento de Recursos de Apelación Tributarios.
            </li>
            <li>
                Formalización y seguimiento de Recursos de Revisión.
            </li>
            <li>
                Procesos judiciales ante el Juzgado de Letras de lo Contencioso Administrativo en el área fiscal.
            </li>
        </ul> --}}
        <h5>
            Productos de RRHH
        </h5>
        <div class="mt-5 box-container">
             <div class="one">
                <h5 class="text-center text-white">            
                    Evaluación de Clima Laboral
                </h5>
            </div>
               <div class="two">
                   <h5 class="text-center text-white">
                    Diagnóstico de Necesidades de Capacitación

                </h5>
            </div>
               <div class="three">
                    <h5 class="text-center text-white">
                    Capacitación

                    </h5>
            </div>
               <div class="four">
                   <h5 class="text-center text-white">
                    Evaluación del Desempeño
                 </h5>
            </div>
               <div class="one">
                  <h5 class="text-center text-white">
                    Elaboración de Manuales de Recursos Humano
                </h5>
            </div>
               <div class="two">
                   <h5 class="text-center text-white">
                        Bolsa
                        de Empleo        
                    </h5>
            </div>
               <div class="three">
                    <h5 class="text-center text-white">
                   Manejo
                de Nómina
                de Planilla
                </h5>
            </div>
               <div class="four">
                   <h5 class="text-center text-white">
                        Exteriorización
                        de Recursos Humanos.      
                    </h5>
            </div>
        </div>
    </section>
    {{>footer}}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script>
            const text = 'Consultoría de Servicios Especializados';
            function typeHeader(){
                for(let i = 0; i < text.length;i++){
                    let header = document.querySelector('#header h2')
                    setTimeout(()=>{
                        header.innerHTML+=text.charAt(i);
                        if(i === text.length-1){
                            header.innerHTML+='<span style="color:#d5ea69;">.</span>'
                        }
                    },i * 50)
                }
            }
        typeHeader()

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
    <script>
              gsap.to(".box-container>div", {
            scrollTrigger: ".box-container", 
            duration:2,
            opacity:1,
            x:0
            });
    </script>
</body>
</html>