<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E5J5RT8ESN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-E5J5RT8ESN');
</script>
     <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cantarell:ital@1&family=Noto+Sans:wght@700&family=PT+Sans+Narrow&family=Roboto:wght@100;900&family=Shippori+Antique+B1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
    <link rel="stylesheet" href="styles/form.css">
    <title>Baker Tilly - Elige Tu Plan</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E5J5RT8ESN"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E5J5RT8ESN');
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <a href="/landing-p-1" class="navbar-brand">
            <img  width="190" height="47"  src="images/logo.svg" alt="">
        </a>
        <button class="navbar-toggler">
            <span class="navbar-toggler-icon">
            </span>
        </button>
        <div class="collapse navbar-collapse" data-target="#list" data-toggle="collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link"></a>
                </li>
            </ul>
        </div>
    </nav>
      <div class="buttons container">
                <button class="button prev">
                    Anterior
                </button>
                <button class="button nxt">
                    Siguiente
                </button>
      </div> 
            <div class="container step-header">
                <h1>Selecciona el Servicio para tu negocio</h1>
                <p>A continuación te proporcionamos descripciones de nuestros servicios para ayudarte a elegir.</p>
            </div>

<section id="wrapper" >    
    <div id="main-container">
            <div class="container plan-details">
                    <div class="step">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                      
                                    </th>
                                    <th>
                                        <div class="text-center" style="font-family:sans-serif;">
                                            Desde <br> $150 al mes
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center" style="font-family:sans-serif";>
                                            Desde <br> $250 al mes
                                        </div>
                                    </th>
                                    <th>
                                        <div class="text-center" style="font-family:sans-serif">
                                            Consigue una cotización
                                        </div>
                                    </th>
                                </tr>
                                <tr >
                                    <th>
                                      
                                    </th>
                                    <th>
                                        <div class="plan one text-center">
                                            Plan <br> Declarativo
                                            <button class="btn select-plan-btn">
                                                Seleccionar 
                                            </button>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="plan two text-center">
                                            Plan <br>
                                            Básico
                                            <button class="btn select-plan-btn">
                                                Seleccionar 
                                            </button>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="plan three text-center">
                                            Plan <br>
                                            Avanzado
                                            <button class="btn select-plan-btn">
                                                Seleccionar 
                                            </button>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="benefit">
                                    Presentación Anual de Declaración de Impuesto sobre  Renta (ISR)
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>    
                            </tr>

                             <tr>
                                <td class="benefit">
                                    Presentación Mensual de Declaración de Impuesto sobre  Venta (ISV)
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>    
                            </tr>
                            
                            <tr>
                                <td class="benefit">
                                    Declaración Mensual de Retenciones (DMR's) 
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="benefit">
                                    Presentación de Declaraciones Informativas de Impuestos 
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                            </tr>
                                 {{!-- <tr>
                                <td class="benefit">
                                    Asesoría Fiscal
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                            </tr> --}}
                                <tr>
                                <td class="benefit">
                                    Registros contables de todas las operaciones realizadas por la empresa.      
                                </td>
                                <td class="dot-container">
                                    
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                            </tr>
                             <tr>
                                <td class="benefit">
                                    Estados Financieros  
                                </td>
                                <td class="dot-container">
                                   
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                            </tr>

                             <tr>
                                <td class="benefit">
                                   Estado Financiero Anual del 1 de enero a 31 de diciembre (periodo fiscal)  
                                </td>
                                <td class="dot-container">
                                    
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                            </tr>
                             <tr>
                                <td class="benefit">
                                   Notas relevantes en los Estados Financieros para más información sobre las partidas y estados de cuentas. 
                                </td>
                                <td class="dot-container">
                                   
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="benefit">
                                     Asesoría Financiera para toma de decisiones diarias 
                                </td>
                                <td class="dot-container">
                                    
                                </td>
                                <td class="dot-container">
                                    
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                            </tr>
                             <tr>
                                <td class="benefit">
                                    Carta con recomendaciones para mejorar procesos administrativos 
                                </td>
                                <td class="dot-container">
                                    
                                </td>
                                <td class="dot-container">
                                    
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                            </tr>
                             <tr>
                                <td class="benefit">
                                     Preparación de Declaraciones de Volumen de Venta y cálculo de impuestos de Industria, Comercio y Servicios. 
                                </td>
                                <td class="dot-container">
                                    
                                </td>
                                <td class="dot-container">
                                   
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                            </tr>

                
                             <tr>
                                <td class="benefit">
                                   Herramienta SAGE 50 US EDITION para realizar mantenimiento de información actualizada sobre registros contables realizados. 
                                </td>
                                <td class="dot-container">
                                   
                                </td>
                                <td class="dot-container">
                                    
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                            </tr>
                             <tr>
                                <td class="benefit">
                                   Sistema de Facturación “OUTLAYS” para empresas de servicios 
                                </td>
                                <td class="dot-container">
                                    
                                </td>
                                <td class="dot-container">
                                   
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                            </tr>
                             <tr>
                                <td class="benefit">
                                     Detalles de cuentas relevantes (conciliaciones bancarias y comparativo mensual) en Estados Financieros 
                                </td>
                                <td class="dot-container">
                                   
                                </td>
                                <td class="dot-container">
                                    
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                            </tr>
                             {{!-- <tr>
                                <td class="benefit">
                                     Apoyo en registros de Regimes Especiales (IHSS, RAP, INFOP, STSS entre otros) 
                                </td>
                                <td class="dot-container">
                                   
                                </td>
                                <td class="dot-container">
                                   
                                </td>
                                <td class="dot-container">
                                    <div class="dot"></div>
                                </td>
                            </tr> --}}
                        </table>

                        <div style="padding-left:67px;margin-top:25px;font-weight:bold;">
                            <p class="m-0">
                                 1. Es responsabilidad de la empresa entregar toda la información necesaria para la realización total de la contabilidad mensual y cancelar el cinco (05) de cada mes.
                            </p>
                            <p class="mt-1">
                                2. Las responsabilidades de facturación y caja se encuentran a cargo de la administración del Cliente, quien será el responsable de alimentar el sistema de facturación seleccionado (manual y/o electrónico) en coordinación con la Firma a quien proporcionará los soportes contables necesarios.
                            </p>
                        </div>
                    </div>
                 <div class="step form">
                    <form action="/calendly" method="POST" class="contact-form">
                    <div class="d-flex">
                        <input type="text" id="plan" name="plan" value="" style="display:none;" required>
                        <div class="form-group w-50 mr-3">
                            <input type="text" class="form-control" name="firstName"  placeholder="Nombre" required>
                        </div>
                        <div class="form-group w-50">
                            <input type="text" class="form-control"  name="lastName" placeholder="Apellido" required>
                        </div>
                     </div>
                       <div class="form-group">
                            <input type="text" class="form-control" name="companyPosition" placeholder="Cargo" required>
                        </div>
                          <div class="form-group">
                            <input type="email" class="form-control"  name="email" placeholder="Correo Electrónico" required>
                        </div>
                          <div class="form-group">
                              <label for="companyCategory">Tipo de Empresa</label>
                              <select class="form-control"  name="companyCategory" required >
                                  <option value="comerciante-individual">Comerciante Individual</option>
                                  <option value="sociedad-de-responsabilidad-limitada">Sociedad de Responsabilidad Limitada</option>
                                  <option value="sociedad-anonima">Sociedad Anónima</option>
                              </select>
                        </div>
                         <div class="form-group">
                            <input type="number" class="form-control" name="rtn"  placeholder="Registro Tributario Nacional" required>
                        </div>
                         <div class="form-group">
                            <input type="text" class="form-control" name="companyName" placeholder="Nombre de la Empresa" required>
                        </div>
                         <div class="form-group">
                            <input type="text" class="form-control" name="companyAddress" placeholder="Dirección de la Empresa" required>
                        </div>
                        <div class="d-flex">
                            <button type="submit" class="mx-auto">Enviar Formulario</button>
                        </div>
                </div>
  </form>
                 <div class="step third" style="height:auto;">
                </div>
            </div>
    </div>
</div>
        <div id="steps-container">
                <div class="step-mark">
                    <div class="icon-container">
                        <div class="number">
                            01
                        </div>
                         <img src="/images/wall-clock.png" alt="" class="img-fluid clock">
                         <img src="/images/check.png" alt="" class="img-fluid check">
                        </div>
                    <div class="step-description">
                            <h6>Plan de Servicios</h6>
                     </div>
                </div>
                <div class="vertical-line">
                </div>
                <div class="step-mark"> 
                      <div class="icon-container">
                          <div class="number">
                            02
                        </div>
                         <img src="/images/wall-clock.png" alt="" class="img-fluid clock">
                         <img src="/images/check.png" alt="" class="img-fluid check">
                        </div>
                    <div class="step-description">
                            <h6>Información de Contacto</h6>
                    </div>
                </div>
                 <div class="vertical-line">
                </div>
                <div class="step-mark">
                        <div class="icon-container">
                        <div class="number">
                            03
                        </div>
                        <img src="/images/wall-clock.png" alt="" class="img-fluid clock">
                        <img src="/images/check.png" alt="" class="img-fluid check">
                        </div>
                    <div class="step-description">
                             <h6>Agendar Cita</h6>
                    </div>
                </div>
        </div>
    </section>   
    <script src="scripts/steps.js">
    </script>
    <script src="scripts/validateForm.js"></script>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" ></script>
    <script>
        Calendly.initInlineWidget({
            url: 'https://calendly.com/bakertillyhn/asesoria-inicial',
            parentElement: document.querySelector('.third'),
            prefill: {},
            utm: {},
                    });
        </script>  
</body>
</html>
