<html>
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <link rel="stylesheet" href="styles/landing-page.css">

</head>
<body >
    {{>landing-page-nav}}
    <section id="main">
     <div class="first-section">
            <img src="/images/receipt-main.png" alt="">
        </div>
        <div class="second-section">
            <h5 class="text-right">
                Servicios Contables
            </h5>
            <h1>
                Conoce mejor tu negocio y
                obtén <br> mejores oportunidades
            </h1>
            <p>
                 Si necesitas presentar tus impuestos en tiempo y forma o buscas un <br>equipo
            especialista para adquirir control financiero, <span style="font-family:'Roboto';font-weight:900;">Baker Tilly </span> te
            puede <br> brindar soluciones de manera más fácil y accesible.
            </p>
            <div class="d-flex">
        
                      <button class="ml-auto" >

                          <a href="/form">
                           Verifica Nuestros Planes</a>
                           
                        </button>
          
      
            </div>
        </div>
    </section>

    <section id="services-section">
            <h1>
                Servicios Contables de Calidad
            </h1>
            <h4>
                Con nuestros servicios contables obtienes información actualizada permitiéndote tomar mejores decisiones de manera oportuna para optimizar tu competitividad. <b>Los principales beneficios son:</b> 
            </h4>
        <div>
        <div id="service-boxes">
            <div class="box">
                <h3 class="text-center mt-3">Firma Responsable</h3>
                <p class="text-white text-center mt-3">
                    Equipo de expertos actualizados en normas contables
                </p>
                <div class="img-container">
                    <img src="/images/updated-white.png" alt="" class="img-fluid">
                 </div>
            </div>
                 <div class="box">
                <h3 class="text-center mt-3">Financiera y Legal</h3>
                <p class="text-white text-center mt-3">
                    Verificación de cumplimiento financiero y legal junto asesoria
                </p>
            <div class="img-container">
                 <img src="/images/compliant-white.png" alt="" class="img-fluid">
            </div>

            </div>
              <div class="box">
                <h3 class="text-center mt-3">Ahorro de Planilla</h3>
                <p class="text-white text-center mt-3">
                    Evitas cargarte de costos y te ahorras de contratar personal
                </p>
            <div class="img-container">
                <img src="/images/select-white.png" alt="" class="img-fluid">
            </div>
            </div>
        </div>
         </div>
    </section>

  <section id="step-instructions">
      <div class="step-instructions-section">
          <h1> Obtén  tu plan</h1>
          <p>
              Nuestro proceso de solicitud permite que adquieras servicios contables ajustados para tu negocio en 3 sencillos pasos
          </p>
        <div id="accordion">
            <div class="d-flex" style="align-items:center;">
            <div class="icon">
                <img src="/images/accounting.png" alt="">
            </div>
            <h5 class="mb-0">
                Selecciona tu plan de servicios contables
            </h5>
                <button class="btn ml-auto accordion-button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-size:2.5rem;font-weight:700;">
                +
                </button>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                           Contamos con servicios ideales para obligados tributarios (comerciantes individuales, personas naturales y
                            sociedades mercantiles) que desean presentar sus declaraciones de impuestos puntuales. Adicionalmente, te ofrecemos  servicios
                            que te permiten llevar correctamente tu contabilidad para que así puedas dedicarte a crecer tu negocio.

            </div>
            </div>
            <div class="d-flex" style="align-items:center;">
             <div class="icon">
                <img src="/images/user.png" alt="">
            </div>
            <h5 class="mb-0">
                Ingresa tu información de contacto
            </h5>
                <button class="btn ml-auto accordion-button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" style="font-size:2.5rem;font-weight:700;">
                +
                </button>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
               Agenda una cita y obtén asesoría gratuita
            </div>
            </div>
        <div class="d-flex" style="align-items:center;">
             <div class="icon">
                <img src="/images/calendar.png" alt="">
            </div>
            <h5 class="mb-0">
                Información de Contacto 
            </h5>
                <button class="btn ml-auto accordion-button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne" style="font-size:2.5rem;font-weight:700;">
                +
                </button>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Haz tu primera llamada de asesoría con uno de nuestros especialistas.
            </div>
        </div>
    </div>
</div>
 <div class="step-instructions-image-section">
  {{!-- <img src="/images/calculator.png" class="img-fluid" alt="">  --}}
 
</div> 

  </section>
  
  <section id="third-section-header">
      <div class="container third-section-headers">
           <h1>
               Estamos aquí para facilitar tus negocios
            </h1>
            <p>
                Contarás con el respaldo de un equipo de especialistas en conocimientos sobre cuentas contables, leyes o <br> disposiciones vigentes para la ejecución de presupuesto. Nuestro equipo cuenta con más de 28 años de <br> experiencia en el rubro de servicios contables, satisfaciendo a todo tipo de empresa.
            </p>
      </div>
  </section> 
  
    {{>footer}}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script>
    $('body').scrollspy({target: ".navbar", offset: 50});
    $(".navbar a").on('click', function(event) {
        if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;
            $('html, body').animate({
            scrollTop: $(hash).offset().top
            }, 800, function(){
            window.location.hash = hash;
            });
        } 
        });
        const button = document.querySelector('#main button')
        const accordionButtons = Array.from(document.querySelectorAll('.accordion-button'))
        const thirdSectionHeaders = document.querySelector('.container.third-section-headers')
     
        console.log(accordionButtons)
        button.addEventListener('mouseover',()=>{
            document.querySelector('#main button a').style.color="black";
        })
          button.addEventListener('mouseout',()=>{
            document.querySelector('#main button a').style.color="white";
        })
    </script>
</body>
</html>

 