<head>
    <link rel="stylesheet" href="styles/landing-page.css">
</head>

<body>
    {{>landing-page-nav}}
    <section id="main">
        <div class="first-section">
            <img class="img-fluid" src="images/receipt.jpg" alt="">
        </div>
        <div class="second-section">
            <h5 class="text-right" style="margin-right:8vw;">
                Servicios Contables
            </h5>
            <h1 class="display-3">
                Conoce mejor tu negocio y
                obtén mejores oportunidades
            </h1>
            <p>
                            Si necesitas presentar tus impuestos en tiempo y forma o buscas un equipo
            especialista para adquirir control financiero, <span style="font-family:'Roboto';font-weight:900;">Baker Tilly </span> te
            puede brindar soluciones de manera más fácil y accesible.
            </p>
            <div class="d-flex">
            <button class="mx-auto">
                Verifica Nuestros Planes
            </button>
            </div>
        </div>
    </section>

    <section id="services-section">

        <h1>
            Servicios Contables de Calidad
        </h1>
        <p>
                    Con nuestros servicios contables obtienes información actualizada permitiéndote tomar mejores
        decisiones de manera oportuna para optimizar tu competitividad. Los principales beneficios son:
        </p>

        <div id="service-boxes">
            <div class="box">
                <h3 class="text-center mt-3">Firma Responsable</h3>
                <p class="text-white text-center mt-3">
                    Equipo de expertos actualizados en normas contables
                </p>
            </div>
                 <div class="box">
                <h3 class="text-center mt-3">Financiera y Legal</h3>
                <p class="text-white text-center mt-3">
                    Verificación de cumplimiento financiero y legal junto asesoria
                </p>
            </div>
              <div class="box">
                <h3 class="text-center mt-3">Ahorro de Planilla</h3>
                <p class="text-white text-center mt-3">
                    Evitas cargarte de costos y te ahorras de contratar personal
                </p>
            </div>
        </div>
    </section>

  <section id="step-instructions">
      <div class="step-instructions-section">
          <h1>Obten tu Plan</h1>
          <p>
              Nuestro proceso de solicitud permite que adquieras servicios contables ajustados para tu negocio en 3 sencillos pasos
          </p>
<div id="accordion">
    <div class="d-flex" style="align-items:center;">
      <h4 style="border:2px black solid;padding:10px;margin-right:5px;">
          1
      </h4>
      <h5 class="mb-0">
         Selecciona Tu Plan De Servicios Contables
      </h5>
         <button class="btn ml-auto" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-size:2.5rem;font-weight:700;">
          +
        </button>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  </div>

  </section>

    
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 </body>