/* * {
  margin: 0;
  padding: 0;
} */

#header {
  width: 100vw;
  height: 80vh;
  background-color: black;
  position: relative;
}

#header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/auditoria.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header h2 {
  position: relative;
  font-family: sans-serif;
  font-weight: 700;
  top: 50%;
  font-size: 2.7rem !important;
}

#text-description {
background-color: rgb(245, 245, 245);
 
 
 text-align: justify;
 
  padding: 10vh 10vw;
  font-size: 1.3rem;
  width: 70%;
}


#main-wrapper {
  display: flex;
}

#diagram {
  background-color: #d5ea69;
  padding: 20vh 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.steps-container {
  display: flex;
}
.step {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  border-radius: 10px;
  justify-content: center;
  transform: translateX(1200px);
  margin: 0 2vw;
  font-size: 0.85rem;
}

p {
  font-size: 1.3rem;
  font-family: Roboto;
}

.first {
  width: 0;
  height: 0;
}

.step-arrow {
  display: flex;
  width: auto;
  height: auto;
  color: white;
  align-items: center;
}

.step-arrow i {
  font-size: 2rem;
}
.step i {
  color: #d5ea69;
  font-size: 3.5rem;
  margin-bottom: 0.5vh;
}

.step:nth-child(1) {
  background-color: #3c3c3c !important;
  color: white;
}

.fas.fa-chevron-down {
  display: none;
}

.fas.fa-chevron-right {
  opacity: 0;
}

#gray-bar {
  width: 25%;
  background-color: whitesmoke;
  display: flex;
  position: relative;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/*Cuadro para auditoría es diferente */

.conoce-equipo {
  transform: rotateZ(90deg);
  white-space: nowrap;
  width: auto;
  padding: 0;
  height: 5px;
  position: absolute;
  right: -90px;
  top: 110px;
}
.flip-card-back h1 {
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
}

.flip-card {
  background-color: #8d8a8a;
  width: 250px;
  height: 300px;
  border: 1px solid whitesmoke;
  perspective: 1000px;
  margin: 2vh 0;
}

.flip-card-inner {
  position: relative;
  width: 250px;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-inner img {
  width: 250px;
  height: 300px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 250px;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: whitesmoke;
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../images/logo-card.png');
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: right 10% top 50%;
}

.flip-card-back h1 {
  font-family: sans-serif;
  font-size: 1.8rem;
}
.flip-card-back p {
  font-family: Roboto;
}

@media screen and (max-width: 1000px) {
  #header{
    height: 50vh;
  }
  #header h1 {
    font-size: 3rem;
  }

  #main-wrapper {
    flex-direction: column;
  }

  .steps-container {
    flex-direction: column;
  }

  .fas.fa-chevron-right {
    display: none;
  }
  .fas.fa-chevron-down {
    display: inline;
    padding: 8vh 0;
    margin: 5vh 0;
  }

  .step-arrow > div {
    margin: auto auto;
    padding: 3vh 0;
  }

  .step {
    width: 200px;
    margin-top: 5px;
    margin: auto auto;
  }

  #gray-bar {
    width: 100%;
  }

  #text-description {
    width: 100%;
  }
}
