.container {
  padding: 2vh 3vw;
}

.buttons.container button {
  background-color: #edfd9a;
  font-size: 0.9rem;
  border: transparent;
  font-family: sans-serif;
  padding: 3px 30px;
  color: black;
  border-radius: 3px;
  margin-right: 1vw;
  width: auto;
  height: 3vw;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.buttons.container button:hover {
  background-color: #bdd352;
}
.navbar-brand {
  margin-left: 48px !important;
}
h1 {
  font-family: sans-serif;
  font-weight: 700;
}

.container.step-header {
  padding: 2vh 3vw;
}
.container.step-header h1 {
  font-size: 22px;
}
.container.step-header p {
  
  font-size: 15px;
}

.step {
  display: none;
}

#main-container {
  width: 72.7%;
  margin: 0 !important;
  padding-right: 0 !important;
}

#wrapper {
  display: flex;
}
#steps-container {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: right;
  margin: 0 !important;
  padding: 0;
  margin-left: 7%;
  position: absolute;
  right: 0;
  bottom: 43vh;
}

.step-mark {
  display: flex;
  align-items: center;
  height: 75px;
  background-color: whitesmoke;
  font-family: 'Noto Sans';
  font-weight: 700;
  padding: 0px 5px;
  border-radius: 3px;
}

.vertical-line {
  border-left: 1px solid black;
  height: 30px;
  margin-left: 4.5vw;
}
.clock {
  width: 4vw;
  height: 4vw;
  object-fit: contain;
  margin-left: 1.7vw;
  display: none;
}

.check {
  display: none;
  width: 3vw;
  margin-left: 2.7vw;
}

.number {
  display: block;
  width: 3vw;
  margin-left: 2.7vw;
}

.step-description {
  text-align: left;
  width: 70%;
  height: 100% !important;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.icon-container {
  height: 100% !important;
  display: flex;
  align-items: center;
}

.step-description h6 {
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 0 !important;
}
.step-mark h3 {
  font-size: 1.5rem !important;
}

.third {
  height: 700px;
  width: 800px;
  padding-top: 3vh;
  display: block;
}

iframe {
  height: 80vh;
  width: 80vw;
  position: relative;
  bottom: 12vh;
  right: 5vw;
}

/* test */

/*This part is unique to calendly-step.css*/
.step-mark:nth-child(1),
.step-mark:nth-child(3) {
  background-color: whitesmoke;
  color: black;
}
.step-mark:nth-child(1) .check,
.step-mark:nth-child(3) .check {
  display: block;
}
.number {
  display: none;
}

.step-mark:nth-child(5) {
  background-color: black;
  color: #d5ea69;
}

.step-mark:nth-child(5) .clock {
  display: block;
}

@media screen and (max-width: 612px) {
  #wrapper {
    flex-direction: column;
  }

  #main-container,
  #steps-container {
    width: 100%;
    padding-top: 0;
  }

  #steps-container {
    position: relative;
  }

  #steps-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: right;
    margin: 0 !important;
    padding: 0;
    margin-left: 0;
    position: relative;
    padding-bottom: 0;
    bottom: 0;
  }

  .container.step-header {
    padding-bottom: 10vh;
  }
}
