#header {
  padding: 35vh 0;
  background-size: 33% 100%;
  background-image: url('https://static.wixstatic.com/media/nsplsh_354643453778546335756f~mv2_d_4355_2577_s_4_2.jpg/v1/fill/w_980,h_2192,al_c,q_90,usm_0.66_1.00_0.01/nsplsh_354643453778546335756f~mv2_d_4355_2577_s_4_2.webp');
  font-weight: bolder;
  background-repeat: repeat;
}
h1,
h2 {
  font-family: 'Noto Sans', sans-serif !important;
  font-weight: 700 !important;
}

#main {
  display: flex;
}

#first-section {
  width: 60%;
  padding: 5vw;
}

#second-section {
  width: 25%;
  background-color: whitesmoke;
}

#diagram {
  padding: 10vh 0;
  background-color: black;
}

#diagram h1 {
  color: #d5ea69;
  font-weight: bold;
  margin-left: 5vw;
}

#third-section {
  padding: 10vh 0vw;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.box-container > div {
  padding: 10vh 0;
  margin: 3vh 0 0 0.5vw;
}

.one {
  background-color: #d5ea69;
}

.two {
  background-color: #9bab48;
}

.three {
  background-color: #6b7535;
}

.four {
  background-color: #353b1a;
}

.box-container > div {
  transform: translateX(800px);
  opacity: 0;
}

.box-container {
  overflow-x: hidden;
}

@media screen and (max-width: 612px) {
  #first-section {
    width: 100%;
  }
  #second-section {
    display: none;
  }

  .box-container {
    grid-template-columns: 1fr;
  }
}
