footer {
  background-color: rgb(43, 48, 58);
}

footer .row-1 {
  background-color: #3c3c3c;
  display: flex;
  align-items: center;
  position: relative;
  height: 15vh;
}

footer .row-1 > div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .logo {
  width: 15vw;
  height: 15vw;
  object-fit: contain;
  position: absolute;
}

.row-2 {
  color: white;
  display: flex;
  margin-left: 20%;
}

.row-4 {
  display: flex;
  margin-left: 20%;
  width: 70%;
}
.logos-container {
  display: flex;
  width: 70%;
  background-color: rgb(43, 48, 58);
  margin-left: 20%;
  margin-bottom: 20px;
}
.logos-container img {
  object-fit: contain;
  width: 140px;
  height: 110px;
}

.row-2 h6 {
  text-transform: uppercase;
  margin-top: 10px;
}

.social-media-links.footer-sm-links {
  text-align: center;
  margin: 0;
}
footer .social-media-links i {
  margin-left: 0.3vw;
}

footer a:hover {
  text-decoration: none;
}

.registros-header {
  color: white;
  padding-left: 11vw;
  padding-top: 2vh;
  font-family: sans-serif;
}

.registros-header h4 {
  font-size: 0.8rem;
  margin-left: 0.5vw;
}

.acerca-de {
  width: auto;
  color: white;
  font-size: 10px;
  margin-left: 50px;
}
.address {
  width: auto;
  color: white;
  text-align: left;
  font-size: 10px;
}
.slogan-container {
  width: 30%;
}
.slogan-container img {
  width: 300px;
  height: auto;
  object-fit: contain;
  margin-left: 80px;
}

@media screen and (max-width: 912px) {
  .slogan-container img {
    width: 150px;
  }
}

@media screen and (max-width: 678px) {
  .row-2 ul,
  .row-3 ul {
    margin-left: 0;
  }
  .row-3 {
    flex-direction: column;
  }

  .row-3 .slogan-container {
    display: flex;
  }
  .row-3 .slogan-container img {
    margin: -12vh 22.5vh;
    width: 50%;
    height: 50%;
    object-fit: contain;
  }

  .row-4 {
    margin-left: 5%;
  }

  .logos-container {
    background-color: rgb(43, 48, 58);
    margin-left: 20%;
    padding-bottom: 0;
    width: auto;
  }
  .row-3 .logos-container img {
    width: 50px !important;
    height: 50px !important;
  }
  .slogan-container img {
    margin-left: 0px;
    width: 100px;
  }
}
