.container {
  padding: 2vh 3vw;
}

.buttons.container button {
  background-color: #d5ea69;
  font-size: 1.4rem;
  border: transparent;
  font-family: sans-serif;
  padding: 3px 30px;
  color: gray;
  border-radius: 10px;
  margin-left: 1vw;
}

h1 {
  font-family: sans-serif;
  font-weight: 700;
}

.plan {
  font-size: 1.2rem;
  background-color: whitesmoke;
  padding: 3vh 1vw;
  border-radius: 5px;
  box-sizing: border-box;
  width: 12vw;
  white-space: wrap;
  font-family: sans-serif;
  font-weight: 700;
  margin-left: 1vw;
}

.plan:hover {
  background-color: #d5ea69;
  cursor: pointer;
}

table {
  width: 100%;
}

tr {
  border-bottom: 1px gray solid;
}

.benefit {
  width: 45%;
}
.dot-container {
  width: 13%;
  font-size: 3rem;
  text-align: center;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #afaeae;
  display: inline-block;
}

.step {
  display: none;
}

#main-container {
  width: 70%;
  padding: 0 5vw;
}

#wrapper {
  display: flex;
}
#steps-container {
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: right;
}

.step-mark {
  background-color: whitesmoke;
  font-family: 'Noto Sans';
  font-weight: 700;
  padding: 10px 5px;
  border-radius: 3px;
}

.vertical-line {
  border-left: 1px solid black;
  height: 30px;
  margin-left: 4.5vw;
}

.third {
  height: 800px !important;
  width: 800px !important;
}

.step-mark {
  display: flex;
}

.square {
  border: 2px #d5ea69 solid;
  border-radius: 5px;
  width: 5vw;
  height: 5vw;
  padding: 20px;
  display: none;
  margin-left: 1.7vw;
}

.number {
  display: block;
  border-radius: 5px;
  width: 5vw;
  height: 5vw;
  padding: 20px;
  margin-left: 1.7vw;
}
.step-description {
  text-align: center;
  width: 70%;
}

.step-mark h3 {
  font-size: 1.5rem !important;
}
#wrapper {
  display: flex;
}
