/* #hero-section {
  height: 100vh;
  background-image: url('/images/feature.jpg');
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

/* #cta-header {
  position: relative;
  opacity: 0;
  transform: translateX(-300px);
  font-size: 5.3em;
  font-family: sans-serif;
  font-weight: 700;
} */
/* 
#hero-section button {
  border-radius: 0 !important;
  background-color: rgb(34, 33, 33);
  color: white;
  padding: 0 1.5vw;
  font-weight: 700;
  font-family: 'Noto Sans';
} */
/* 
#hero-section button:hover {
  background-color: white;
  color: black;
} */

/* #cta-header h1 {
  font-family: 'Roboto';
  font-weight: 900 !important;
}

#hero-section button {
  font-size: 1.5rem;
  margin-left: 1vw;
} */

#first-section {
  height: 100vh;

  background-image: url('../images/carousel-3-cropped.jpg');
  background-size: 100% 100%;

}

/*Responsive page */
/*
@media screen and (max-width: 800px) {
  #first-section {
    height: 50vh !important;
    background-size: 100% 100% !important;
    content: normal;
  }
  
  #first-section-text{
    margin-top: -100px;

  }
  

}
*/
#first-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}

#feature-main-section {
  width: 100% !important;

}

.carousel,
.carousel-div {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-div-img-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.carousel-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#first-section-text,
.carousel-div-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 150px;
  z-index: 1000;
  color: white;
  font-family: sans-serif;
}

.arrow {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
  position: absolute;
  z-index: 10000000;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  top: 50%;
  right: 5%;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 5%;
  top: 50%;
}

.carousel-div {
  display: none;
}

.carousel-div-text h1 {
  font-family: sans-serif;
  font-weight: 700;
}

.carousel-div-text p {
  font-family: Roboto;
}

.carousel-div-text button {
  background-color: #d5ea69;
  color: black;
  font-size: 1rem;
  border-radius: 5px;
  width: 100px;
}

.carousel-div-text button:hover {
  background-color: #bdd352;
}

.btilly-honduras-slide {
  font-family: sans-serif;
}

#first-section-text h1,
.carousel-div h1 {
  font-family: sans-serif !important;
  font-size: 4.5rem;
  font-weight: 700;
}

#first-section-text h2,
.carousel-div h2 {
  font-family: sans-serif !important;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 3vh 0;
}

#first-section-text button,
.carousel-div button {
  background-color: #edfd9a;
  font-size: 0.9rem;
  border: transparent;
  font-family: Roboto;
  padding: 3px 30px;
  color: black;
  border-radius: 3px;
  margin-right: 1vw;
  width: auto;
  height: 3vw;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

#about-us {
  background-color: #d5ea69;
}

.carousel-item {
  padding: 9vh 20vw;
}

#about-us-header {
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Noto Sans';
}

#about-us p {
  font-size: 18px;
  color: black;
  font-family: 'Roboto';
  font-weight: 700;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper>div {
  background-color: white;
  width: 150px;
  height: 150px;
  padding: 15px;
  margin-left: 12px;
  font-size: 1.3rem;
}

#bakertilly-button {
  padding: 1vh 3.3vw;
  background-color: white;
  font-size: 1.2rem;
  font-weight: 700 !important;
  font-family: 'Noto Sans';
  border: none;
}

#bakertilly-button:hover {
  color: gray;
}

.value-prop {
  text-align: center;
}

.value-prop h6 {
  font-weight: 600;
  font-family: 'Noto Sans';
}

.value-prop img {
  width: 40px;
  height: 40px;
  margin-bottom: 1vh;
}

#services {
  display: flex;
  background-color: #2d2d2d;
  overflow-x: hidden;
}

.services-image {
  width: 50%;
  background-color: black;
  align-items: center;
  justify-content: center;
  position: relative;
}

.services-image::before {
  content: '';
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/services-img.png');
  background-size: 100% 100%;
}

#services a {
  font-size: 1.2rem;
  padding: 10px;
  margin-left: 5vw;
  color: white;
  font-weight: 700 !important;
}

#services-header {
  font-weight: bolder;
  color: #d5ea69;
  font-size: 3.5rem;
  opacity: 0;
  transform: translate(500px, 0%);
  font-style: 'Noto Sans' !important;
  font-weight: 900 !important;
}

#work-with-us {
  background-image: url('../images/work-with-us-background.jpg');
  background-size: cover;
  overflow-x: hidden;
  height: 70vh;
  display: flex;
  align-items: center;
}

#work-with-us .box {
  width: 40%;
  background-color: #d5ea69;
  font-size: 2.5rem;
  transform: translateX(-600px);
  height: auto;
}

#work-witu-us .box {
  font-weight: 700 !important;
}

.inner-box {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vh 2vw;
  position: relative;
  top: 30px;
}

.inner-box h1 {
  font-family: 'Noto Sans';
  font-weight: 700;
}

.black-arrow {
  transition: transform 1.3s ease-in-out;
}

#work-with-us .box:hover .black-arrow {
  transform: translate(30px, 30px);
}

#work-with-us .box:hover .inner-box {
  /* padding: 0; */
}

.black-arrow:hover {
  cursor: pointer;
  background-color: white !important;
  color: black;
}

#work-with-us .box h1 {
  font-size: 3rem;
  font-weight: 9 !important;
}

.box i {
  color: white;
  background-color: black;
  right: 0;
  font-size: 2rem;
  font-weight: 600 !important;
  padding: 1.5vw;
}

#map-section {
  height: 80vh;
  background-color: black;
  padding: 5vh 3vw;
  display: flex;
}

.map-wrapper {
  width: 65%;
  height: 80%;
  display: flex;
}

.map-wrapper img {
  width: 90%;
  object-fit: contain;
  margin-top: 5vh;
}

#map-section-header {
  background-color: black;
}

#map-section-header h1 {
  margin-bottom: 0;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 3rem;
  padding-top: 5.5vh;
}

.data-div {
  width: 35%;
  padding: 0vh 0;
  height: auto;
}

.data-row {
  color: white;
  font-family: Roboto;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 5vh 0;
}

.data-row h3 {
  font-weight: 700;
  text-align: left;
}

.data-row h4 {
  font-weight: 300;
  text-align: left;
  font-size: 1.3rem;
}

.data-row h3 {
  font-size: 2.5rem;
  font-family: sans-serif;
}

.data-row div {
  text-align: center;
  width: 50%;
}

.row-three div {
  width: 100%;
}

@media screen and (max-width: 612px) {
  #first-section {
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #feature-main-section{
    height: 70vh;
  }


  .carousel-div-text p {
    font-size: 15px;
    padding: 10%;
    text-align: left;
  }

  .carousel-div-text,
  #first-section-text {
    padding: 10px;
  }

  #first-section-text h1 {
    font-size: 2.5rem;
  }
  #first-section-text h2 {
    font-size: 1.5rem;
  }

  .carousel-div button,
  #first-section button {
    height: auto;
    margin: 2vh 0;
  }

  #map-section {
    flex-direction: column;
    height: auto;
  }

  .map-wrapper {
    width: 100%;
  }

  .data-div {
    width: 100%;
  }

  .data-row {
    width: 100%;
  }

  .carousel-div h1 {
    left: auto;
    font-size: 2rem;
  }

  #hero-section {
    height: 70vh;
  }

  #cta-header {
    font-size: 3rem;
  }

  #about-us {
    height: auto;
    padding: 70vh 0;
  }

  #about-us h1 {
    font-size: 3rem;
  }

  #services {
    flex-direction: column;
  }

  #services .services-image,
  #services .services-names {
    width: 100%;
  }

  .wrapper {
    flex-direction: column;
  }

  .wrapper>div {
    width: 100%;
    height: auto;
    padding: 5px;
    margin-top: 2vh;
  }

  .services-image {
    height: 300px;
  }

  #work-with-us {
    padding: 0vh;
    height: 50vh;
  }

  #work-with-us .box {
    margin-left: -40px;
    width: 50%;
    height: 40%;
  }

  #work-with-us .box h1 {
    font-size: 1.5rem;
  }
  
  #work-with-us .ml-auto {
margin-top: 40%;
margin-right: 10%;
font-size: 2.5rem;
    
  }


  footer .row-3 {
    flex-direction: column;
  }
  


  footer .row-3 ul {
    width: auto;
  }
}