#main {
  height: 90vh;
  background-color: #dadcdb;
  display: flex;
  align-items: center;
}
.ml-auto{
  height: 75px;
  width: 350px;

}
h1,
h3,
h6 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
}

p {}

#main h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
}

#main p {
  font-size: 1.2rem;
  margin-top: 2vh;
}

.second-section {
  text-align: right;
  padding: 25vh 20vw 15vh 0;
}

#main button {
  font-size: 1rem;

  border: 2px black solid;

  font-weight: 300;
  background-color: black;
  color: white;
}

#main a {
  text-decoration: none;
  color: white;
}

#main button:hover {
  background-color: transparent;
  color: black;
}

/* Fix button hover */
#main .first-section img {
  object-fit: contain;
  position: relative;
  margin-top: auto;
  width: 38vh;
}

.first-section {
  width: 100%;
  display: flex;
  height: 100%;
}

.second-section {
  width: 82%;
}

#services-section {
  padding: 5vw 0;
  font-size: 1.2rem;

  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#services-section>div {
  width: 60%;
}

#services-section h1 {
  font-family: 'Noto Sans';
  font-weight: 900;
  font-size: 3rem;
}

#services-section h1,
#services-section h4 {
  position: relative;
  top: 11vh;
}

#services-section h4 {
  padding: 0 230px;
  font-size: 1rem;
  margin-bottom: 4vh;
  margin-top: 3vh;
  text-align: center;
}

#service-boxes {
  display: flex;
  padding: 0 0 6vh 0;
  position: relative;
  top: 18.5vh;
}

.box {
  background-color: black;
  border-radius: 10px;
  height: 50vh;
  width: 20vw;
  color: #d5ea69;
  box-sizing: border-box;
  padding: 35px 10px 0 10px;
  margin-right: 2vw;
  font-family: sans-serif;
}

.box p {
  font-size: 1rem;
}

.box h3 {
  font-size: 1.3rem;
}

#step-instructions {
  height: auto;
  background-color: #ebe7e4;
  display: flex;
  padding: 10vh 0;
}

.step-instructions-section {
  width: 65%;
  padding: 5vh 0 0 270px;
  box-sizing: border-box;
  position: relative;
}

.step-instructions-image-section {
  width: 35%;
  height: 55vh;
  display: flex;
  justify-content: right;
  overflow-x: hidden;
}

.step-instructions-image-section img {
  width: 50%;
  height: 100%;
  object-fit: fill;
  position: relative;
  z-index: 1000;
  display: inline-block;
}

.icon {
  text-align: left;
}

.icon h5 {
  margin-left: 8vw !important;
}

h5 {
  margin-left: 1.5vw;
}

.icon img {
  width: 3vw;
  height: 3vw;
  position: relative;
  right: 0.5vw;
}

#third-section-header {
  background-color: #ebe7e4;
  height: 30vh;
  position: relative;
}

.container.third-section-headers {
  padding-left: 170px;
  padding-bottom: 100px;
  position: relative;
}

.container.third-section-headers h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
}

.container.third-section-headers p {

  margin-top: 3vh;
}

.img-container {
  width: auto;
  height: auto;
  text-align: center;
}

.img-container img {
  width: 9vw;
  height: 9vw;
}

@media screen and (max-width: 612px) {
  #services-section h1 {
    margin-top: -50px;
    font-size: 2.5rem !important;
  }

  #services-section h4 {
    text-align: justify !important;
    font-size: 2.5rem;
  }

  #main {
    flex-direction: column;
    padding-top: 5vh;
    height: auto;
  }

  .second-section {
    padding: 5vw 5vw;
  }

  #main .first-section img {
    object-fit: contain;
    position: relative;
    margin-top: auto;
    width: 26vh;
  }

  .img-container img {
    width: 20vw;
    height: 15vw;
    margin-bottom: 2vh;
  }

  .icon img {
    width: 10vw;
    height: 10vw;
    margin-right: 1.5vw;
  }

  #third-section-header {
    background-color: #ebe7e4;
    padding: 2vh;
    height: auto;
  }

  .container.third-section-headers {
    padding-left: 0 !important;
    position: relative;
  }

  #step-instructions {
    flex-direction: column;
    height: auto;
    padding-top: 7vh;
  }

  .step-instructions-section,
  .step-instructions-image-section {
    width: 100%;
  }

  .step-instructions-section {
    padding: 10vh 5vh;
    height: auto;
    position: relative;
    top: 10vh;
  }

  .step-instructions-image-section img {
    height: 60vh;
    width: 100%;
    padding-left: 50vw;
    padding-bottom: 0;
    bottom: 0;

  }

  .step-instructions-image-section {
    display: none;
  }

  .first-section,
  .second-section {
    width: 100%;
  }

  .first-section img {
    margin-top: 7vh;
  }

  #main h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  #main h5 {
    display: none;
  }

  .box {
    width: 30vw;
    height: auto;
  }

  .box h3 {
    font-size: 1.5rem;
  }

  .box p {
    font-size: 1rem;
  }

  #services-section {
    height: auto;
  }

  #services-section h1 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 2vh;
  }

  #services-section h4 {
    padding: 0 50px;
    font-size: 1rem;
    margin-bottom: 4vh;
    margin-top: 3vh;
    text-align: center;
  }

  #service-boxes {
    flex-direction: column;
  }

  .box {
    width: auto;
    margin-top: 2vw;
  }
}

@media screen and (max-width: 280px) {
  #main h1 {
    font-size: 2rem;
  }

}