#main {
  height: 90vh;
  background-color: #dadcdb;
  display: flex;
  align-items: center;
}

h1,
h3,
h6 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
}

p {
  font-family: Roboto;
}

#main h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
}

#main p {
  font-size: 1.2rem;
  margin-top: 2vh;
}

.second-section {
  text-align: right;
  padding: 25vh 20vw 15vh 0;
}

#main button {
  font-size: 1.3rem;
  background-color: transparent;
  border: 2px black solid;
  font-family: 'Noto Sans';
}

#main button:hover {
  background-color: black;
  color: white;
}

#main .first-section img {
  object-fit: contain;
  position: relative;
  margin-top: auto;
}

.first-section {
  width: 18%;
  display: flex;
  height: 100%;
}
.second-section {
  width: 82%;
}

#services-section {
  padding: 5vw 0;
  font-size: 1.2rem;
  font-family: 'Roboto';
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#services-section > div {
  width: 60%;
}

#services-section h1 {
  font-family: 'Noto Sans';
  font-weight: 900;
  font-size: 3rem;
}

#service-boxes {
  display: flex;
  padding: 0 0 6vh 0;
}

.box {
  background-color: black;
  border-radius: 10px;
  height: 50vh;
  width: 20vw;
  color: #d5ea69;
  box-sizing: border-box;
  padding: 0 10px;
  margin-right: 2vw;
  font-family: sans-serif;
}

#step-instructions {
  height: auto;
  background-color: #ebe7e4;
  display: flex;
}

.step-instructions-section {
  width: 65%;
  padding: 20vh 0 0 270px;
  box-sizing: border-box;
}

.step-instructions-image-section {
  width: 35%;
  display: flex;
  justify-content: right;
}

.step-instructions-image-section img {
  object-fit: contain;
}

.icon {
  text-align: left;
}
.icon img {
  width: 3vw;
  height: 3vw;
  position: relative;
  right: 0.5vw;
}

#third-section-header {
  background-color: #ebe7e4;
  padding: 15vh 0;
}
.container.third-section-headers {
  padding-left: 170px;
}

.container.third-section-headers h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
}

.container.third-section-headers p {
  font-family: 'Noto Sans', sans-serif;
  margin-top: 10vh;
}

.img-container {
  width: auto;
  height: auto;
  text-align: center;
}

.img-container img {
  width: 7vw;
  height: 7vw;
}

@media screen and (max-width: 612px) {
  #main {
    flex-direction: column;
    padding-top: 5vh;
    height: auto;
  }

  .second-section {
    padding: 5vw 5vw;
  }

  .img-container img {
    width: 15vw;
    height: 15vw;
    margin-bottom: 2vh;
  }

  .icon img {
    width: 10vw;
    height: 10vw;
    margin-right: 1.5vw;
  }

  #third-section-header {
    background-color: #ebe7e4;
    padding: 5vh;
  }
  .container.third-section-headers {
    padding-left: 0;
  }

  #step-instructions {
    flex-direction: column;
  }

  .step-instructions-section,
  .step-instructions-image-section {
    width: 100%;
  }

  .step-instructions-section {
    padding: 5vh;
  }

  .first-section,
  .second-section {
    width: 100%;
  }

  .first-section img {
    margin-top: 7vh;
  }

  #main h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  #main h5 {
    display: none;
  }

  .box {
    width: 30vw;
    height: auto;
  }

  .box h3 {
    font-size: 1.5rem;
  }

  .box p {
    font-size: 1rem;
  }

  #services-section {
    height: auto;
  }

  #services-section h1 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2vh;
  }

  #service-boxes {
    flex-direction: column;
  }

  .box {
    width: auto;
    margin-top: 2vw;
  }
}
