nav > * {
  font-weight: bold;
  color: black;
  font-weight: 500;
}

nav {
  background-color: white;
  padding: 2vh 0 !important;
}
nav ul {
  color: white;
  margin-right: 7vw;
}
.navbar-brand {
  margin-left: 5vw;
}
nav li a {
  font-size: 16px;
  color: white;

  font-weight: 500;
  margin-left: 2vw;
  text-transform: uppercase !important;
}
nav a:focus {
  background-color: white;
}
.dropdown-item:focus {
  background-color: white;
  color: black;
}
.dropdown-menu {
  border-radius: 0;
  border: none;
}
.social-media-links {
  
  vertical-align: middle;
  margin-left: auto;
  margin-right: 5vw;
}
.social-media-links img {
  width: 2.3vw;
  height: 2.3vw;
}
@media screen and (max-width: 612px) {
  .social-media-links img {
    width: 8.5vw;
    height: 8.5vw;
  }
  .social-media-links{
    display: none;
  }
}
