#header {
  background-size: 33% 100%;
  font-weight: bolder;
  background-color: black;
 
}

#header h2 {
  position: relative;
  font-family: sans-serif;
  font-weight: 900;
  top: 50%;
  font-size: 2.7rem;
}
#header {
  width: 100vw;
  height: 80vh;
  background-color: black;
  position: relative;
}

p {
  font-family: Roboto;
}

#header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-image: url('../images/impuestos.jpg');
  background-repeat: no-repeat;
  opacity: 0.5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  padding: 0vh 0;
}

#first-section {
  width: 62%;
  padding: 3vh 0;
  padding-left: 10vw;
 
}

p {
text-align: justify;
font-size: 1.3rem;
}

#second-section {
margin-left: 0%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: 5%;
}

#servicios {
  padding: 0vh 8vw;
}
#servicios > .prop {
  padding: 15px;
  background-color: green;
  transform: translateX(-1000px);
}

#servicios .prop.one {
  background-color: #eaf4b2;
}

#servicios .prop.two {
  background-color: #d6ea6a;
}

#servicios .prop.three {
  background-color: #f7f7f7;
}

#servicios .prop.four {
  background-color: #c5c5c5;
}

#servicios > div > h2 {
  border-left: 3px solid black;
  padding: 10px;
  text-align: left;
  margin-left: 80px;
  font-size: 1.2rem;
}

.cards-container {
 margin-block-start: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.conoce-equipo {
  transform: rotateZ(90deg);
  white-space: nowrap;
  width: auto;
  padding: 0;
  height: 5px;
  position: absolute;
  right: -90px;
  top: 110px;
}

.flip-card {
  background-color: #8d8a8a;
  width: 250px;
  height: 300px;
  border: 1px solid whitesmoke;
  perspective: 1000px;
  margin: 2vh 0;
}
.flip-card-back h1 {
  font-family: sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
}

.flip-card-inner {
  position: relative;
  width: 250px;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-inner img {
  width: 250px;
  height: 300px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 250px;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(184, 184, 184);
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../images/logo-card.png');
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: right 10% top 50%;
}

.flip-card-back h1 {
  font-family: sans-serif;
  font-size: 1.8rem;
}
.flip-card-back p {
  font-family: Roboto;
}

@media screen and (max-width: 612px) {
  #header{
    height: 50vh;
  }
  #main {
    flex-direction: column;
  }
  #servicios > .prop {
    padding: 0px;
  }

  .prop h2 {
    font-size: 1.8rem;
  }
  #first-section {
    width: 100%;
    margin-top: 5vh;
    font-size: 1rem;
  }
 
  #second-section {
    width: 100%;
    margin-top: 0vh;
   
    font-size: 1rem;
  }
 
  body{
    background-color: rgb(245, 245, 245);
  }
  
}
